[project]
name = "nn-zero-to-hero-karpathy"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "ipykernel>=7.1.0",
    "jupyterlab>=4.5.0",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
